@font-face {
	font-family: 'CircularStd';
	src: url(fonts/CircularStd-Medium.woff2) format(woff2);
}
*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'CircularStd', sans-serif;
	font-size: 18px;
	font-weight: 600;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.wrapper {
	display: grid;
	grid-template-areas: 
		"asideL main asideR";
	grid-template-columns: 310px 3fr 0px;
	transition: all 0.3s ease;
}
.sidebar-left {
	grid-area: asideL;
}
.main {
	grid-area: main;
}
.sidebar-right {
	grid-area: asideR;
}

.point-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: relative;
	background: #181818;
}
.point-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #181818;
	width: 58.25px;
	height: 58.25px;
}
@keyframes pointInnerClick {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(115%);
	}
	100% {
		transform: scale(100%);
	}
}