.player {
	position: fixed;
	bottom: 0;
  	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	width: 100%;
	height: 122px;
	min-height: 122px;
	background: #181818;
	padding: 0px 33px;
	z-index: 0;
}

.player .left-part {
	display: flex;
	align-items: center;
	gap: 32px;
}
.player .left-part .track-info {
	display: flex;
	flex-direction: column;
}
.player .left-part .track-info .title {
	white-space: nowrap;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.player .left-part .track-info .artist {
	white-space: nowrap;
	color: #B3B3B3;
	font-size: 16px;
	cursor: pointer;
}
.player .left-part .track-info .artist:hover,
.player .left-part .track-info .title:hover {
	opacity: 0.8;
}
.player .left-part img {
	cursor: pointer;
}

.player .center {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.player .center .top-part {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
.player .center .top-part img{
	height: 18px;
	cursor: pointer;
}
.player .center .top-part img:nth-child(1){
	height: 18px;
}
.player .center .top-part img:nth-child(5){
	height: 19px;
}
.player .center .top-part .point-wrapper:nth-child(3) img{
	height: 40px;
}
.player .center .bottom-part {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	color: #A6A6A6;
	font-size: 16px;
}
.player .center .bottom-part .timeline {
	width: 552px;
	height: 5px;
	appearance: none;
	background: #A6A6A6;
	border-radius: 4px;
	outline: none;
	overflow: hidden;
}
.player .center .bottom-part .timeline::-webkit-slider-thumb {
	height: 5px;
	width: 4px;
	background: #ffffff;
	appearance: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: -277px 0px 0px 274px#fff;
	border: 0;
}
.player .right-part .timeline {
	width: 119px;
	height: 5px;
	appearance: none;
	background: #A6A6A6;
	border-radius: 4px;
	outline: none;
	overflow: hidden;
}
.player .right-part .timeline::-webkit-slider-thumb {
	height: 5px;
	width: 4px;
	background: #ffffff;
	appearance: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: -100px 0px 0px 100px#fff;
	border: 0;
}

.right-part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
}
.point-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	width: 58px;
	height: 58px;
	cursor: pointer;
	position: relative;
}
.point-wrapper:hover {
	border: 1px solid #323232;
}
.right-part img:hover {
	cursor: pointer;
}
.right-part input {
	margin-left: 8px;
}
/* .right-part img:nth-child(2) {
	margin-right: 6px;
} */
/* .right-part img:nth-child(3) {
	margin-right: 8px;
} */
/* .right-part img:nth-child(5) {
	margin-left: 3px;
} */